body {
    background-image: url("https://github.com/Dorian1218/Dumpr/blob/master/client/dumpr/public/assets/dumpr-slogan.png?raw=true");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}